{
  "mem0": {
    "llm": {
      "provider": "openai",
      "config": {
        "model": "gpt-4.1-nano-2025-04-14"
      }
    },
    "embedder": {
      "provider": "openai",
      "config": {
        "model": "text-embedding-3-small",
        "embedding_dims": 1536
      }
    },
    "vector_store": {
      "provider": "pgvector",
      "config": {
        "host": "127.0.0.1",
        "port": 5433,
        "dbname": "yugabyte",
        "user": "yugabyte",
        "password": ""
      }
    },
    "graph_store": {
      "provider": "apache_age",
      "config": {
        "host": "127.0.0.1",
        "port": 5433,
        "database": "yugabyte",
        "user": "yugabyte",
        "password": "",
        "graph_name": "mem0_graph"
      },
      "threshold": 0.7
    }
  }
}
